@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lightGreen: #5AFF80;
    --darkGreen: #01FF56;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Shippori Mincho", serif;
    font-weight: 500;
}

body {
    font-family: "Chivo",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    overflow-x: hidden;
}

.wrapper{
    width: 100%;
    height: 70vh;
    background-color: var(--lightGreen);
}

.hero .container-fluid{
    display: flex;
    justify-content: space-between;
}
.heroImg img{
    margin-left: auto;
    height: 70vh;
}
.textContent{
    padding: 180px 0 0 90px;
}
h1{
    font-size: 70px;
    font-weight: 400;
}

/* ---------------------------- Main section------------------------ */
.blogContent {
    display: grid;
    padding: 120px;
    grid-template-columns: 65% 32%;
    grid-column-gap: 25px;
}

/* ----------------left section--------------------- */
.box {
    margin-bottom: 30px;
}
.blogContent a:hover{
    color: var(--darkGreen);
}
.box .image img {
    width: 100%;
}

.view {
    font-weight: 400;
}
.box .text {
    padding: 30px 0 0;
}
.box p{
    padding-top: 25px;
}
.msgContainer{
    line-height: 1.733;
    font-style: italic;
    color: rgb(136, 136, 136);
    padding: 25px 30px;
    background: rgba(130, 139, 178, 0.1);
}
.social a{
    text-decoration: none;
    color: rgb(119, 119, 119);
    margin: 0 8px;
}
.postContent a{
    text-decoration: none;
    color: black;
}
.msg{
    padding: 30px;
    background: white;
    border-left: 2px solid gray;
}
.likeContainer{
    border-top: 1px solid rgb(240, 233, 255);
    border-bottom: 1px solid rgb(240, 233, 255);
    padding: 15px 0;
}
.likeIcon{
    display: flex;
    justify-content: space-between;
}
.postContent{
    padding: 50px 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.postNav{
    display: flex;
}
.postText{
    padding: 0 15px;
    align-self: center;
}
.Aright{
    text-align: right;
}
.comment{
    background: rgb(251, 249, 255);
    margin: 50px 0;
    padding: 40px 30px;
    display: flex;
}
.comment2{
    padding: 50px 0;
    border-top: 1px solid rgb(240, 233, 255);
    border-bottom: 1px solid rgb(240, 233, 255);
}
.user{
    padding:40px 0 10px;
    display: flex;
}
.name{
    display: flex;
}
.name a{
    color: black;
}
.reply a{
    color: rgb(119, 119, 119);
}
.name p {
    margin: 0 25px;
    color: rgb(119, 119, 119);
}
.commentDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.commentDetails a{
    text-decoration: none;
}
.userText{
    padding: 0 20px;
    color: rgb(119, 119, 119);
}
.commentText{
    align-self: center;
    padding-left: 30px;
}
.last{
    margin-bottom: 30px;
}
.box .text .post h2 {
    margin-bottom: 20px;
}

.box .text .icon span {
    color: rgb(153, 153, 153);
}
.box .text .icon .first::after {
    content: "|";
    padding: 0 10px;
    color: black;
}

.replyComment h3{
    padding: 50px 0 40px;
}

.replyComment textarea,
.replyComment input{
    border: 1px solid rgb(240, 233, 255);
    padding: 15px;
    outline: none;
}

.replyComment input{
    width: 98%;
}

.line{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
}
.space{
    margin: 25px 0;
}
.line .space{
    display: flex;
    flex: 0 0 auto;
    width: 49%;
}
.input1{
    margin-right: 25px;
}
.replyComment .mbtn{
    width: 30%;
    border-radius: 5px;
    margin-top: 30px;
    padding: 12px 0;
}
/* ----------------left section end--------------------- */

/* -----------------right section--------------------- */
.sideBox {
    background: rgb(251, 249, 255);
    padding: 30px;
    margin-bottom: 35px;
}
.searchBox .search {
    border: 1px solid rgb(226, 226, 226);
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input {
    border: none;
    width: 100px;
    outline: none;
    margin-left: 15px;
    color: rgb(167, 166, 166);
}
.btn {
    height: 43px;
    width: 90px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: var(--darkGreen);
}
.highlight {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(240, 233, 255);
    margin-bottom: 40px;
}
.highlight h2 {
    font-size: 22px;
}
.category .catContent p {
    padding: 15px 0;
    border-bottom: 1px solid rgb(240, 233, 255);
}
.right a {
    text-decoration: none;
    color: black;
}
.postBox {
    display: flex;
}
.image {
    position: relative;
}
.postBox .second {
    align-self: center;
    padding-left: 20px;
}
.top {
    margin-top: 15px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.tags p {
    padding: 6px 18px;
    font-size: 13px;
    border: 1px solid rgb(240, 233, 255);
    background: white;
    color: rgb(167, 166, 166);
}
.tags p:hover{
background: var(--darkGreen);
color: white;
}
.gtest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.blck img {
    width: 100%;
}
.email {
    padding: 15px;
    border: 1px solid rgb(240, 233, 255);
    background: white;
}
.email input {
    border: none;
    outline: none;
}
.mbtn {
    width: 100%;
    margin-top: 15px;
    background: white;
    color: var(--darkGreen);
    padding: 15px 0;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    font-family: "Shippori Mincho", serif;
    border: 1px solid var(--darkGreen);
    cursor: pointer;
}

/* -----------------right section--------------------- */

/* ---------------------------- Main section end------------------------ */


/* ------------------responsiveness----------------- */
@media (max-width: 1200px){
    .blogContent {
        padding: 70px;
    }
}
@media (max-width: 999px){
    .blogContent {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
}
@media (max-width: 800px){
    .blogContent {
        padding: 60px;
    }
    .heroImg{
        display: none;
    }
    .wrapper{
        height: 60vh;
    }
    .textContent{
        padding: 120px 0 10px 30px;
    }
}
@media (max-width: 550px){
    .blogContent {
        padding: 45px 20px;
    }
    .date {
        width: 70px;
        height: 70px;
        padding: 6px 17px;
    }
    .wrapper{
        height: 50vh;
    }
    h1{
        font-size: 35px;
    }
    .day {
        font-size: 30px;
    }
    .month {
        font-size: 17px;
    }
    .box .text {
        padding: 45px 20px 20px;
    }
    .text .post h2{
        font-size: 19px;
    }
    
}

@media (max-width: 450px){
    .box .text {
        padding: 25px 5px 5px;
    }
    .blogContent {
        padding: 45px 10px;
    }
    .post h2 {
        font-size: 19px;
    }
}